body,
html {
  line-height: 1;
  font-weight: 200;
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Hevetica-Light', Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
}
.clearfix {
  display: inline-block;
}
.clearfix:after {
  display: block;
  content: ' ';
  height: 0;
  line-height: 0;
  clear: both;
}
/*一像素解决*/
@media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
  .border-1px:after {
    -webkit-transform: scaleY(0.7);
    transform: scaleY(0.7);
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
  .border-1px:after {
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
  }
}
/*定义全局样式*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}
.container:after {
  display: table;
  content: " ";
  clear: both;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.text-center {
  text-align: center;
}
.bg-gray {
  background: #f5f5f5;
}
/*一像素边框*/
